body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #b5b5b5;
}

a {
  color: #00B7FF;
}

.title {
  text-align: center;
}

.add-thread {
  width: 50%;
  float: left;
}

.thread-list {
  width: 50%;
  float: right;
  text-align: center;
  padding-top: 60px;
}

.all-threads {
  margin-top: 20px;
}

.individual-thread {
  border: solid;
  border-width: 2px;
  padding: 10px 10px 10px 10px
}

.report, .delete-thread, .delete-reply, .reply-btn {
  height: 20px;
  line-height: 40%;
}

.all-replies-btn {
  height: 20px;
  line-height: 40%;
}

.reply-box {
  margin-left: 80px;
}

.back-btn {
  float: right;
}

.reply-paragraph {
  border-width: 2px;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  padding: 5px 5px 5px 5px;
}